body {
   font-family: 'Montserrat', sans-serif;
   /* font-family: 'Playfair Display', serif; */
   color: #AE7C78;

}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.header {
   margin-top: 26px;
   margin-bottom: 48px;
}

.header__inner {}

.header__top {
   margin-bottom: 82px;
   border-top: 1px solid #AE7C78;
   border-bottom: 1px solid #AE7C78;
}

.menu {}

.menu__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu__item {
   padding-top: 22px;
   padding-bottom: 22px;
}

.menu__link {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.25;
   color: inherit;
}

.header__logo {}

.header__content {}

.content__wrapper{
   display: flex;
   text-align: left;
}

.header__item {
   margin-right: 23px;
}

.header__item:last-child{
   margin-right: 0;
}

.header__item:nth-child(2){
   margin-top: 58px;
}

.header__title {
   margin-bottom: 24px;
   font-family: 'Playfair Display', serif;
   font-size: 43px;
   font-style: normal;
   line-height: 1.34;
}

.header__title span{
   font-style: italic;
}

.header__text {
   margin-bottom: 64px;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
}

.button {
   padding: 30px 67px;
   border-radius: 40px;
   background-color: #D89999;
   width: 285px;
   height: 80px;

   font-family: 'Montserrat', sans-serif;
   text-align: center;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.25;
   color: #FFF;
}


/* -----------------------BENEFITS------------------------------------- */
.benefits {
}

.benefits__wrapper{
}

.benefits__item {
}

.item__img {
}
.item__title {
}
.item__text {
}
/* ---------------------//BENEFITS------------------------------------- */
