body {
   font-family: 'Montserrat', sans-serif;
   /* font-family: 'Playfair Display', serif; */
   color: #AE7C78;

}

.container {
   max-width: 1200px;
   margin: 0 auto;
}

.header {
   margin-top: 26px;
   margin-bottom: 48px;
}

.header__inner {}

.header__top {
   margin-bottom: 82px;
   border-top: 1px solid #AE7C78;
   border-bottom: 1px solid #AE7C78;
}

.menu {}

.menu__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.menu__item {
   padding-top: 22px;
   padding-bottom: 22px;
}

.menu__link {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.25;
   color: inherit;
}

.header__logo {}

.header__content {}

.content__wrapper{
   display: flex;
   text-align: left;
}

.header__item {
   margin-right: 23px;
}

.header__item:last-child{
   margin-right: 0;
}

.header__item:nth-child(2){
   margin-top: 58px;
}

.header__title {
   margin-bottom: 24px;
   font-family: 'Playfair Display', serif;
   font-size: 43px;
   font-style: normal;
   line-height: 1.34;
}

.header__title span{
   font-style: italic;
}

.header__text {
   margin-bottom: 64px;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 29px;
}

.button {
   padding: 30px 67px;
   border-radius: 40px;
   background-color: #D89999;
   width: 285px;
   height: 80px;

   font-family: 'Montserrat', sans-serif;
   text-align: center;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.25;
   color: #FFF;
}


/* -----------------------BENEFITS------------------------------------- */
.benefits {
   margin-bottom: 80px;
}

.benefits__wrapper{
   display: flex;
   justify-content: space-between;
}

.benefits__item {
   display: flex;
   align-items: center;
}

.item__descr{
   max-width: 285px;
}


.item__img {
   margin-right: 20px;
}

.item__img:last-child{
   margin-right: 0;
}

.item__title {
   margin-bottom: 8px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
}

.item__text {
   font-size: 16px;
   line-height: 1.25;
}
/* ---------------------//BENEFITS------------------------------------- */

/* ---------------------SLIDER------------------------------------- */
.slider {
   margin-bottom: 80px;
   max-width: 800px;
   margin: 0 auto;
}
.title {
   margin-bottom: 36px;
   font-family: 'Playfair Display', serif;
   font-style: normal;
   font-weight: bold;
   font-size: 36px;
   line-height: 1.33;
   letter-spacing: 0.02em;
   text-align: center;
}
.slider__wrapper {
   margin-bottom: 24px;
   display: flex;
}
.slider__content {
}
.slider__title {
   margin-bottom: 20px;
   font-weight: 500;
   font-size: 24px;
   line-height: 1.2;
}
.slider__descr {
   margin-bottom: 24px;
   font-size: 16px;
   line-height: 1.25;
}
.slider__size {
   display: block;
   margin-bottom: 24px;
   font-size: 16px;
   line-height: 1.25;
}
.slider__price {
   display: block;
   margin-bottom: 94px;
   font-weight: 500;
   font-size: 24px;
   line-height: 1.20;
}

.slider__img {
}

.slider__navigation {
   text-align: center;
}
.navigation__img {
}

.arrow__left{
   margin-right: 20px;
}

.arrow__right{}
/* ---------------------//SLIDER------------------------------------- */

/* ---------------------CATALOG------------------------------------- */
.catalog {
   margin-top: 80px;
   margin-bottom: 80px;
}

.catalog__wrapper {
   display: flex;
}
.catalog__card {
   text-align: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
   width: 388px;
   height: 442px;
   margin-right: 20px;
   background-color: #AE7C78;
   border-radius: 10px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.card-01{
   background-image: url(../images/catalog.jpg);
}

.card-02{
   background-image: url(../images/catalog_02.jpg);
}

.card-03{
   background-image: url(../images/catalog_03.jpg);
}

.catalog__card:last-child{
   margin-right: 0;
}

.catalog__title {
   margin-bottom: 8px;
   font-family: 'Playfair Display', serif;
   font-weight: bold;
   font-size: 36px;
   line-height: 1.33;
   text-align: center;
   letter-spacing: 0.02em;
   color: #FFF;
}

.catalog__text {
   display: block;
   font-size: 16px;
   line-height: 1.25;
   color: #fff;
}
/* ---------------------//CATALOG------------------------------------- */

/* ---------------------DISCOUNT------------------------------------- */
.discount {
   margin-bottom: 80px;
}

.discount__wrapper{
   display: flex;
   justify-content: space-between;
   background-color: #AE7C78;
}

.discount__content {
   /* display: flex; */
   align-items: center;

}

.discount__title {
   margin: 40px 20px 24px 102px;
   font-family: 'Playfair Display', serif;
   font-size: 44px;
   line-height: 1.34;
   letter-spacing: 0.02em;
   color: #FFF;
}

.discount__text {
   margin-left: 102px;
   max-width: 387px;
   font-size: 24px;
   line-height: 1.20;
   color: #FFF;
}

.discount__image {
}

.discount_img {
   width: 100%;
   height: auto;
}
/* ---------------------//DISCOUNT------------------------------------- */

/* ---------------------STEPS------------------------------------- */
.steps {
   margin-bottom: 80px;
}

.steps__wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
}
.steps__item{
   margin-right: 20px;
}

.steps__item:last-child{
   margin-right: 0;
}

.steps__item-img {
   margin-bottom: 8px;
}
/* ---------------------//STEPS------------------------------------- */

/* ---------------------SOCIALS------------------------------------- */
.socials {
   margin-bottom: 80px;
}
.socials__wrapper {
   display: flex;
   justify-content: space-between;
}
.socials__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align-last: left;
}

.socials__title{
   text-align: left;
}

.socials__text {
   margin-bottom: 40px;
   max-width: 387px;
   font-size: 24px;
   line-height: 1.20;
}
.socials__group {
}

.socials__link{
   cursor: pointer;
   margin-right: 20px;
}

.socials__link:last-child{
   margin-right: 0;
}

.socials__item{
}


.socials__images {
   display: grid;
   grid-template-areas: "standart height"
                        "standart2 height";
   gap: 20px;
}
.image-01{
   grid-area: standart;
}

.image-02{
   grid-area: standart2;
}

.image-03{
   grid-area: height;
}

.socials__image {
}
/* ---------------------//SOCIALS------------------------------------- */

/* ---------------------REVIEWS------------------------------------- */
.reviews {
   margin-bottom: 80px;
}

.reviews__wrapper {
   border: 1px solid #AE7C78;
}

.reviews__title{
   margin-top: 40px;
}

.review__wrapper{
   display: flex;
   justify-content: space-around;
}

.review {
   margin-bottom: 60px;
   text-align: center;
   max-width: 300px;
}

.review__text {
   margin-bottom: 16px;
   font-size: 16px;
   line-height: 1.25;
}

.review__user {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
}
/* ---------------------//REVIEWS------------------------------------- */

/* ---------------------CONTACTS------------------------------------- */
.contacts {
   position: relative;
   width: 100%;
   height: 650px;
   background-image: url(../images/contacts.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.contacts__wrapper {
   position: absolute;
   padding-left: 40px;
   padding-bottom: 60px;
   margin-top: 52px;
   margin-left: 222px;
   margin-right: auto;
   max-width: 386px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: #fff;
   box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
   border-radius: 12px;
   z-index: 10;
}

.contacts__title{
   margin-top: 40px;
}

.contacts__list {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}
.contact__item {
}
.contact__title {
   margin-bottom: 10px;
   font-size: 16px;
   line-height: 1.25;
}
.contact__text {
   display: block;
   margin-bottom: 30px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.25;
   color: #AE7C78;
}
/* ---------------------//CONTACTS------------------------------------- */